In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
import random
import numpy as np

In [ ]:
review2 = pd.read_csv("review2.csv",error_bad_lines=False)

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
X = review2.drop(columns='sentiment')
y = review2.sentiment
rus = RandomUnderSampler(random_state=42)
X_res, y_res = rus.fit_resample(X, y)
print('Resampled dataset shape %s' % Counter(y_res))

Resampled dataset shape Counter({0: 153342, 1: 153342})

In [ ]:
X_res

,Unnamed: 0,Unnamed: 0.1,reviewerID,asin,reviews,rating,sentiment
0,12,12,A2QK1U70OJ74P,B000FA64PA,well written interesting to see sideous thro...,3,0
1,13,13,A3SZMGJMV0G16C,B000FA64PK,troy denning s novella recovery was originally...,3,0
2,17,17,A38Z3Q6DTDIH9J,B000FA64PK,another well written ebook by troy denning bu...,3,0
3,21,21,A3SZMGJMV0G16C,B000FA64QO,with ylesia a novella originally published in...,2,0
4,25,25,A22CW0ZHY3NJH8,B000FA64QO,the events of ylesia take place during dest...,3,0
...,...,...,...,...,...,...,...
306679,789840,789840,A3PYF4FB4UWQPK,B00HU6FGCE,omg this book was great it was the first boo...,5,1
306680,649909,649909,AIYLXC2Y5I8ER,B00F77TELM,jointly reviewed for jenny well g afte...,4,1
306681,6899,6899,A3PAK16C0K8PZ1,B002OHD27U,sin is a novella which includes three stories ...,4,1
306682,32147,32147,A3VIWG0TOSI7NZ,B004A14RI6,the book was well written the story flows smo...,4,1
306683,362848,362848,AL663T5LDTQZS,B00AEDDSN4,this is the first i ve read of shiftertown sto...,5,1

In [ ]:
X_res = X_res.drop(['Unnamed: 0','Unnamed: 0.1'],axis =1)

In [ ]:
X_res

,reviewerID,asin,reviews,rating,sentiment
0,A2QK1U70OJ74P,B000FA64PA,well written interesting to see sideous thro...,3,0
1,A3SZMGJMV0G16C,B000FA64PK,troy denning s novella recovery was originally...,3,0
2,A38Z3Q6DTDIH9J,B000FA64PK,another well written ebook by troy denning bu...,3,0
3,A3SZMGJMV0G16C,B000FA64QO,with ylesia a novella originally published in...,2,0
4,A22CW0ZHY3NJH8,B000FA64QO,the events of ylesia take place during dest...,3,0
...,...,...,...,...,...
306679,A3PYF4FB4UWQPK,B00HU6FGCE,omg this book was great it was the first boo...,5,1
306680,AIYLXC2Y5I8ER,B00F77TELM,jointly reviewed for jenny well g afte...,4,1
306681,A3PAK16C0K8PZ1,B002OHD27U,sin is a novella which includes three stories ...,4,1
306682,A3VIWG0TOSI7NZ,B004A14RI6,the book was well written the story flows smo...,4,1
306683,AL663T5LDTQZS,B00AEDDSN4,this is the first i ve read of shiftertown sto...,5,1

In [ ]:
X_res.to_csv('review3.csv',index=False)

(613368, 7)

,Unnamed: 0,Unnamed: 0.1,reviewerID,asin,reviews,rating,sentiment
0,0,0,A1F6404F1VG29J,B000F83SZQ,i enjoy vintage books and movies so i enjoyed ...,5,1
1,1,1,AN0N05A9LIJEQ,B000F83SZQ,this book is a reissue of an old one the auth...,4,1
2,2,2,A795DMNCJILA6,B000F83SZQ,this was a fairly interesting read it had ol...,4,1
3,3,3,A1FV0SX13TWVXQ,B000F83SZQ,i d never read any of the amy brewster mysteri...,5,1
4,4,4,A3SPTOKDG7WBLN,B000F83SZQ,if you like period pieces clothing lingo y...,4,1
...,...,...,...,...,...,...,...
982614,982614,982614,A2Y66HD4J5S7QZ,B00M13FNSS,yasss hunny this is a great read that dre is...,5,1
982615,982615,982615,A17YHECC8H9NEY,B00M13FNSS,i enjoyed this book from beginning to end now ...,5,1
982616,982616,982616,A20KO0BPMNREJL,B00M13FNSS,great book cherika was a fool she let that m...,5,1
982617,982617,982617,A1BQO66R6OLCCW,B00M13FNSS,when i say this was an excellent book please b...,5,1
982618,982618,982618,A2NRGE3CSFY2TQ,B00M13FNSS,this book was everything i just hope alexus w...,5,1